@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: system-ui, -apple-system, sans-serif;
  }
}

@layer utilities {
  /* Print styles */
  @media print {
    @page {
      size: A4;
      margin: 0;
    }
    
    body {
      print-color-adjust: exact;
      -webkit-print-color-adjust: exact;
    }
    
    .print\:hidden {
      display: none !important;
    }
    
    .print\:shadow-none {
      box-shadow: none !important;
    }
  }
}